<!DOCTYPE html>
<html>
<head>
    <title>Mock Test System</title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }
        a {
            padding: 10px 20px;
            background: blue;
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>

<h1>Welcome to Mock Test Website</h1>

<p>Online Mock Test Platform</p>

<a href="http://127.0.0.1:5000">Start Test</a>

</body>
</html>
